@font-face {
    font-family: 'nazanin';
    src: local("nazanin");
    src: url('../assets/fonts/B_Nazanin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ziba';
    src: local("ziba");
    src: url('../assets/fonts/B_Ziba.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mitra';
    src: local("mitra");
    src: url('../assets/fonts/Far_MitraBd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'titrbd';
    src: local("titrbd");
    src: url('../assets/fonts/Far_TitrBd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'titrdf';
    src: local("titrdf");
    src: url('../assets/fonts/Mj_Titr_DF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titrtge';
    src: local("titrtge");
    src: url('../assets/fonts/pixelboy-BTitrTGEBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'yekan';
    src: local("yekan");
    src: url('../assets/fonts/yekan-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}